<div class="container page-container">
    <h2 class="about-contact-title">
      About / Contact
    </h2>
    <p>Hello ! I'm a digital lighter from Paris, France.</p>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="http://player.vimeo.com/video/89916537" allowfullscreen></iframe>
    </div>
    <div class="profile-presentation-wrapper">
      <p>You can watch my other videos on <a href="http://vimeo.com/anniehua" target="_blank">Vimeo</a>.</p>
      <p>View my professional profile on <a href="http://fr.linkedin.com/in/anniehua3d" target="_blank">LinkedIn</a>.</p>
      <p>Contact : <a href="mailto:anniehua.contact@gmail.com">anniehua.contact@gmail.com</a></p>
      <p>Download : <a href="assets/download/AnnieHua_CurriculumVitae.pdf" target="_blank">Resume</a> / <a href="assets/download/AnnieHua_Breakdown.pdf" target="_blank">Demo reel breakdown</a></p>
    </div>
  </div>