<div class="container page-container">
  <h2 class="page-title">
    About / Contact
  </h2>
  <p>Hello ! I'm a digital lighter from Paris, France.</p>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="http://player.vimeo.com/video/89916537" allowfullscreen></iframe>
  </div>
  <div class="profile-presentation-wrapper">
    <a class="btn btn-social-icon btn-vimeo" [href]="vimeoLink" target="_blank" placement="top" [ngbTooltip]="vimeoTooltip">
      <span class="fab fa-vimeo"></span>
    </a>
    <span class="btn-social-separator"></span>
    <a class="btn btn-social-icon btn-linkedin" [href]="linkedInLink" target="_blank" placement="top" [ngbTooltip]="linedInTooltip">
      <span class="fab fa-linkedin"></span>
    </a>
    <span class="btn-social-separator"></span>
    <a class="btn btn-social-icon btn-google" [href]="gmailLink" placement="top" [ngbTooltip]="gmailTooltip">
      <span class="fas fa-envelope"></span>
    </a>
    <span class="btn-social-separator"></span>
    <span class="email-address-for-other-screens">{{gmailAddress}}</span>
  </div>
  <div>
    <span class="email-address-for-smartphone">{{gmailAddress}}</span>
  </div>
</div>