<div class="container page-container">
  <h2>
    Personnal and professional 3D work
  </h2>
  <div *ngIf="selectedProject">
    <h4>
      {{project.title}}
    </h4>
    <div>
      {{project.description}}
    </div>
    <div id="carousel-indicators" class="carousel slide" data-ride="carousel" data-interval="false">
      <ol class="carousel-indicators">
        <li *ngFor="let image of project.images" data-target="#carousel-indicators" [attr.data-slide-to]="image.id-1" [ngClass]="{'active' : image.id==1}"></li>
      </ol>
      <div class="carousel-inner">
        <div *ngFor="let image of project.images" class="carousel-item" [ngClass]="{'active' : image.id==1}">
          <img class="d-block w-100" [src]="image.location" alt="First slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carousel-indicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-indicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <button *ngFor="let project of projects" (click)="setSelectedProject(project)" type="button" class="btn btn-dark">{{project.title}}</button>
</div>