.carousel-custom-img {
    max-height: 720px;
    object-fit: contain;
}

.image-miniature {
    width: 100%;
    object-fit: contain;
    cursor: pointer;
}

.image-miniature-wrapper {
    padding: 0;
}

.all-miniatures-wrapper {
    margin-top: 15px;
    margin-bottom: 15px;
}

.video-iframe-container {
    padding: 56.25% 0 0 0;
    position: relative;
}

.video-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}