<div class="container page-container">
  <h2>
    Personnal and professional 3D work
  </h2>
  <div *ngIf="selectedProject">
    <h4>
      {{selectedProject.title}}
    </h4>
    <div>
      {{selectedProject.description}}
    </div>
    <div *ngIf="selectedProject.vimeoLink" class="video-iframe-container">
      <iframe [src]="selectedProject.vimeoLinkSafeResourceUrl" class="video-iframe" frameborder="0"
        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <script src="https://player.vimeo.com/api/player.js"></script>
    </div>
    <div *ngIf="selectedProject.images && selectedProject.images.length > 0" id="carousel-indicators" class="carousel slide"
      data-ride="carousel" data-interval="false">
      <ol class="carousel-indicators">
        <li *ngFor="let image of selectedProject.images" data-target="#carousel-indicators" [attr.data-slide-to]="selectedProject.images.indexOf(image)"
          [ngClass]="{'active' : selectedProject.images.indexOf(image)==0}"></li>
      </ol>
      <div class="carousel-inner">
        <div *ngFor="let image of selectedProject.images" class="carousel-item" [ngClass]="{'active' : selectedProject.images.indexOf(image)==0}">
          <img class="d-block w-100 carousel-custom-img" [src]="image.location" [alt]="selectedProject.fileName">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carousel-indicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-indicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
<div class="container full-width-container">
  <div class="row all-miniatures-wrapper">
    <div *ngFor="let project of projects" (click)="setSelectedProject(project)" class="col-3 col-md-2 image-miniature-wrapper">
      <img [src]="project.imageMiniature.location" alt="{{project.title}}" class="image-miniature" [ngClass]="{'image-miniature-active' : isSelectedOrHoveredProject(project)}"
        [ngClass]="{'image-miniature-active' : isSelectedOrHoveredProject(project)}" (mouseover)="setHoveredProject(project)"
        (mouseout)="setHoveredProject(null)">
    </div>
  </div>
</div>