.navbar-custom {
    background-color: #0d0c0d;
}

#navLinkList .nav-link {
    color: rgba(255,215,0,0.8);
}

#navLinkList :hover {
    color: rgba(255,215,0,1);
    font-weight: bold;
}

.author-block {
    color: rgba(255,215,0,0.8);
    text-align: right;
}

.author-name {
    font-family: 'Philosopher', 'Calibri';
    font-size: 28px;
}

@media (max-width:992px)  { 
    .author-block-for-smartphone {
        display: block;
    }

    .author-block-for-other-screens {
        display: none;
    }

    .custom-footer {
        display: none;
    }
}

@media (min-width:992px)  { 
    .author-block-for-smartphone {
        display: none;
    }

    .author-block-for-other-screens {
        display: block;
    }

    .custom-footer {
        height: 40px;
    }
}