body{
    background-color: #1a1a1a;
    color: #f2f2f2;
    font-family: 'Raleway', 'Calibri'
}

.page-title {
    margin-top: 30px;
    margin-bottom: 30px;
}

.page-container{
    margin-top: 10px;
}

.full-width-container {
    max-width: 100%;
}

.image-miniature-active {
    filter: opacity(35%);
}

.modal.fade
.modal-dialog {
   -webkit-transform: translate(0);
   -moz-transform: translate(0);
   transform: translate(0);
}

.custom-fade {
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}

.custom-link a {
    color: rgba(255, 190, 0, 0.8);
}

.custom-link a:hover {
    color: rgba(255,190,0,1);
    font-weight: bold;
    text-decoration: none;
}